{% extends "plantillaPadre.html" %}
{%load static%}
{% block title %} Nosotros {%endblock %}

{%block content%}+
<h1>Ubicación:</h1>
<p>
    Senderos es una "Reserva Educativa Experimental con una pequeña
Granja Auto Sustentable" ubicada en la Legua 110 Colonia Sur sobre la
margen de la Ruta Provincial N 90 , 10 km antes de llegar a Gral. San
Martín, Chaco; es un predio chico de 19 ha en total , distribuida en 16
ha de masa boscosa y 3 ha agrícola , posee un pequeño y modesto
asentamiento principal a orillas del Río de Oro con un Senderos principal
"Los Ariscos" para su llegada al mismo…
La Reserva comprende toda la masa boscosa muy rica en su
biodiversidad y parte de pajonales y pastizales del sector agrícola..
</p>
<h1>Datos :</h1>
<p>
    Encargado/dueño/creador : Kchito (Pedro Rodolfo Salica, DNI N°
12242545, argentino, de 64 años de edad, .. su sueño es ser
Conservacionista y Naturalista, su pasión es la Fotografía de la
Naturaleza.. . Máximo nivel Académico alcanzado: Guardaparque
Universitario egresado Facultad Ciencias Exactas, Naturales y
Agrimensura de la UNNE , Corrientes , Argentina.-, anteriormente trabajo
en el Poder Judicial del Chaco ; se retiro y se dedico a estudiar para
aportar un eslabón en el cuidado de nuestro Ambiente…
Senderos es una "Reserva Educativa Experimental con una pequeña
Granja Auto Sustentable" ubicada en la Legua 110 Colonia Sur sobre la
margen de la Ruta Provincial N 90 , 10 km antes de llegar a Gral. San
Martín, Chaco; es un predio chico de 19 ha en total , distribuida en 16
ha de masa boscosa bosque nativo con pequeños ambientes de Pajonales,
pastizales, bosque en galerías y Sotobosque y 3 ha agrícola , su historia
es reciente ya que del mes de octubre del 2015 se empezo a dar forma a
un largo sueño que de a poco va tomando realidad , en la actualidad se
esta construyendo un pequeño y modesto asentamiento principal a orillas
del Río de Oro con un Senderos principal "Los Ariscos" para su llegada al
mismo.
La Reserva comprende toda la masa boscosa muy rica en su
biodiversidad y parte de pastizales del sector agrícola .

</p>

{%endblock%}